<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
   <!--<link rel="stylesheet" href="../styles/styles.css">-->
  </head>
 <body id="bodyMain">
  <h1 class="mainTitle">Travel Planner</h1>
  <button class="newBtn" onClick="window.location.href=window.location.href">New Trip</button>
  <div class="row">
    <!--Form side-->
    <div class="leftSide">
      <div class="formContainer">
        <div>
          <form class="form">
            <label for="zip">Enter Destination city here </label>
            <input type="text" class="dest" id="dest" placeholder="enter your destination here">
            <label for="date">Enter date of departure here</label>
            <input type="date" data-date="" data-date-format="MM-DD-YYYY" id="date" placeholder="enter date of departure here">
            <!--<input class="myButton" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)" >-->
            <button class="myButton" id="generate" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Response side-->
    <div class="rightSide">
      <div class="resContainer">
        <div class="response" id="resImg">
          <h2 class="resCity"></h2>
            <div id="weathersum">
              <canvas class="icon" width="60" height="60"></canvas>
              <h2 class="degree"></h2>
              <div class="tempDescrip"></div>
              <div id="countryDes"></div>
              <div id="countDown"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <script>
       // Check that service workers are supported
       // TEST
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }


    </script>
  

</body>
</html>