body{
    
}

/*#app{
    display: grid;
    grid-auto-rows: minmax(150px, 60px);
    grid-template-columns: 100 px 70% 100px; 
    height:100vh;
    
    color: #f0d43a;
    justify-content: center;
    grid-gap: 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}*/



.leftSide, .rightSide {
    height: 800px;
    width: 50%;
}

.leftSide {
    background: red;
    width: 50%;
    float: left;
}

.rightSide {
    background: blue;
    margin-left: 50%;
}



/*
.entry{
    background: rgba(59, 74, 107, .4);
    height: 300px;
    margin-top: 30%;
}



/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}
/*
input{
    display:inline-block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
*/
/* Reset style for HTML element on active to have no border*/
/*
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*/
/* Style for Placeholder Text*/


